---
import CartIndicator from '../components/CartIndicator.vue';
import CartDrawer from '../components/CartDrawer.vue';
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{Astro.props.title}</title>
</head>
<body>
<header>
  <a href="/">Smalltime</a>
  <CartIndicator client:load />
</header>

<slot />

<CartDrawer client:load />

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
  }
</style>
</body>
</html>